.startup{
	margin: 0px auto;
	background-color: #E0E0E0;
	position:absolute;
	width: 100%;
	height: 100%;
	z-index: 50;
}
#draw-main-info {
    padding: 20px;
    margin: 0px auto;
	margin-bottom: 10px;
    text-align: center;
    width: 90%;
    background-color: #E0E0E0;
    border: 1px solid #C69;
}

#draw-tile-map {
    padding: 20px;
    margin: 0px 2%;
    text-align: center;
    width: 850px;
    background-color: #E0E0E0;
    border: 1px solid #C69;
	float: left;
	background-image: url("../images/game_back.jpg");
}

#draw-tile-map img{
	width: 80px;
	height: 46px;
}
#draw-tile-map p{
	width: 135px;
	font-size:bold;
}

.tile {
    display: inline-block;
    margin: 0px 10px;
    list-style-type: none;
}

#draw-tile-info {
    padding: 20px;
    margin: 0px 2%;
    text-align: center;
    width: 350px;
    background-color: #E0E0E0;
    border: 1px solid #C69;
	position: relative;
	float: left;

}

#res-stone{
	background: url("../images/ResCSS.png") -48px 0;
	width: 24px;
	height: 24px;
}
#res-wood{
	background: url("../images/ResCSS.png") 0 0;
	width: 24px;
	height: 24px;
}

#res-settlers{
	background: url("../images/ResCSS.png") -48px -144px;
	width: 24px;
	height: 24px;
}

#res-day{
	background: url("../images/ResCSS.png") -24px -168px;
	width: 24px;
	height: 24px;
}

#res-storage{
	background: url("../images/ResCSS.png") -216px -120px;
	width: 24px;
	height: 24px;
}

#game{
	width: 1340px;
}


.panel-body p{
	color : green;
	float : left;
	border-style: solid;
	border-width:0px;
    border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: blue;
	height: 24px;
}
.tile a{
	color:black;
}

.mainElements{
	float: left;
	position: relative;
	padding-left: 20px;
}