<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/tile.css" rel="stylesheet">
		<title>MYGAME </title>
	</head>
	<body>
		
		<section id="game">
			<div id="draw-game-startup" class="startup"></div>
			<div id="draw-main-info"></div>
			<div id="draw-tile-map"></div>
			<div id="draw-tile-info"></div>
											
		</section>
		
		<script id="build-game-startup" type="text/template">	
			<center>
			<p>Hi, welcome to Island Dominator browser game SPA style</p>
			<p>Please enter your name and starting conditions : </p>
			Name : <input id="player-name" type="text" value="Anynomos"/>
			<br/>
			Starting wood : <input id="starting-wood" type="number" value="0"/>
			<br/>
			Starting stone : <input id="starting-stone" type="number" value="0"/>
			<br/>
			Starting planks : <input id="starting-planks" type="number" value="0"/>
			<br/>
			<a id="submit-info" class="btn btn-sucess">Submit »</a>
			</center>
		</script>
		
		<script id="build-main-info" type="text/template">
			<div class="panel panel-primary">
			  <div class="panel-heading">
				<h3 class="panel-title">Main Panel</h3>
			  </div>
			  <div class="panel-body">
				<div class="mainElements">
					<p>Hello , <%= name %> </p>
				</div>
				<div class="mainElements">
					<p id="res-day"><p>Day : <%= day %> </p>
					<p id="res-settlers"><p>Settlers : <%= settlers %> / <%= max_settlers %></p>
					<p id="res-settlers"><p>Workers : <%= workers %> </p>
					<p id="res-storage"></p><p>Storage : <%= storage %> / <%= max_storage %></p>
				</div>
				<div class="mainElements">	
					<p id="res-wood"></p><p>Wood : <%= wood %></p>
					<p id="res-stone"></p><p>Stone : <%= stone %></p>
				</div>
				<div class="mainElements">
					<p id="res-planks"></p><p>planks : <%= planks %></p>
				</div>	
					<a id="next-day" class="btn btn-default">Next Day »</a>
			  </div>
			</div>
		</script>
		
		<script id="build-tile-map" type="text/template">
			<a href="#<%= link %>">
				<p><%= name %>
					<% if(name == "Empty tile") { %>
						</p>
					<% }else{ %>	
						Lvl : <%= level %></p>
					<% } %>
				<img id="<%= number %>" src="<%= img %>" class="tile"/>
			</a>
			<br/>
		</script>
		
		<script id="build-tile-info" type="text/template">
			<p>Tile Number : <%= number %> , Type : <%= name %> </p>
			<% if(name == "Empty tile") { %>
				<p>This is an empty tile,<br/>Upgrade this tile to : </p>
				<a id="upgrade-to-storage" class="btn btn-default">Storage »</a>
				<a id="upgrade-to-residence" class="btn btn-default">Residence »</a>
				<a id="upgrade-to-wood-cutter" class="btn btn-default">Wood Cutter »</a>
				<a id="upgrade-to-wood-swamill" class="btn btn-default">Wood Sawmill »</a>
				<a id="upgrade-to-mason" class="btn btn-default">Mason »</a>
			<% } %>
			
			<% if(level > 0){ %>
				<p>Level : <%= level %></p>
			<% } %>
			
			<% if(require_wood > 0){ %>
				<p>Consumes Wood : <%= require_wood %></p>
			<% } %>
			
			<% if(require_stone > 0){ %>
				<p>Consumes Stone : <%= require_stone %></p>
			<% } %>
			
			<% if(produce_wood > 0){ %>
				<p>Produce Wood : <%= produce_wood %></p>
			<% } %>
			
			<% if(produce_planks > 0){ %>
				<p>Produce Planks : <%= produce_planks %></p>
			<% } %>
			
			<% if(produce_stone > 0){ %>
				<p>Produce Stone : <%= produce_stone %></p>
			<% } %>
			
			<% if(max_storage > 0){ %>
				<p>Provide Storage : <%= max_storage %></p>
			<% } %>
			
			<% if(max_settlers > 0){ %>
				<p>Provide Housing : <%= max_settlers %></p>
			<% } %>
			
			<% if(cost_workers > 0){ %>
				<p>Required Workers : <%= cost_workers %></p>
			<% } %>
			
			<% if(cost_wood > 0 && level <10){ %>
				<p>Wood to upgrade : <%= cost_wood %></p>
			<% } %>
			
			<% if(cost_stone > 0 && level <10){ %>
				<p>Stone to upgrade : <%= cost_stone %></p>
			<% } %>
			
			<% if(cost_planks > 0 && level <10){ %>
				<p>Planks to upgrade : <%= cost_planks %></p>
			<% } %>

			<% if(name != "Empty tile") { %>
				<% if(level < 10){ %>
					<a id="upgrade" class="btn btn-default">Upgrade »</a>
				<% } %>
				<a id="destroy" class="btn btn-danger">Destroy »</a>
			<% } %>
		</script>
		
		
		<script src="js/lib/jquery-1.9.0.js"></script>
		<script src="js/lib/jquery-ui-1.10.0.custom.js"></script>
		<script src="js/lib/jquery-dateFormat-1.0.js"></script>
		<script src="js/lib/underscore.js"></script>
		<script src="js/lib/backbone.js"></script>	
		
		<script src="js/models/controller.js"></script>
		<script src="js/views/controllerView.js"></script>
		
		<script src="js/models/tile.js"></script>
		<script src="js/collections/tileCollection.js"></script>
		<script src="js/views/tileView.js"></script>
		<script src="js/views/allTileView.js"></script>
		<script src="js/views/selectedTile.js"></script>
		<script src="js/views/startupView.js"></script>
		
		<script src="js/models/tileName.js"></script>
		
		<script src="js/routers/tileInfo.js"></script>
		
		<script src="js/main.js"></script>
 
    </body>
</html>